#btn-container {
  width: 300px;
  height: 300px;
  display: grid;
  /* changing distance */
  grid: 20px 20px 20px / 20px 20px 20px;
  place-items: center;
  gap: 1px;
  position: relative;
  z-index:0;
}

#left, #up, #down, #right {
  opacity: 0.9; 
}

#up:active {
  transform: translate(2px, 2px);
  box-shadow:
    1px 1px 0px #8c6b58,
    2px 2px 0px #4a352a;
}
#left:active {
  transform: translate(2px, 2px);
  box-shadow:
    1px 1px 0px #8c6b58,
    2px 2px 0px #4a352a;
}
#down:active {
  transform: translate(2px, 2px);
  box-shadow:
    1px 1px 0px #8c6b58,
    2px 2px 0px #4a352a;
}
#right:active {
  transform: translate(2px, 2px);
  box-shadow:
    1px 1px 0px #8c6b58,
    2px 2px 0px #4a352a;
}

/* Button positions */
#left {
  grid-row: 2;
  grid-column: 1;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 0.5px solid white;
  background: #c59c85;
  box-shadow:
    1px 1px 0px #8c6b58,
    3px 3px 0px #4a352a;
  font-size: 0.75rem;
  color: #fff7ef;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  font-family: 'Cherry Bomb One';
}
#up {
  grid-row: 1;
  grid-column: 2;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 0.5px solid white;
  background: #c59c85;
  box-shadow:
    1px 1px 0px #8c6b58,
    3px 3px 0px #4a352a;
  font-size: 0.75rem;
  color: #fff7ef;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  font-family: 'Cherry Bomb One';
}
#down {
  grid-row: 3;
  grid-column: 2;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 0.5px solid white;
  background: #c59c85;
  box-shadow:
    1px 1px 0px #8c6b58,
    3px 3px 0px #4a352a;
  font-size: 0.75rem;
  color: #fff7ef;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  font-family: 'Cherry Bomb One';
}
#right {
  grid-row: 2;
  grid-column: 3;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 0.5px solid white;
  background: #c59c85;
  box-shadow:
    1px 1px 0px #8c6b58,
    3px 3px 0px #4a352a;
  font-size: 0.75rem;
  color: #fff7ef;
  font-weight: bold;
  text-shadow: none;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
  font-family: 'Cherry Bomb One';
}
